[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "vagrant/cookbooks"]
	path = vagrant/cookbooks
	url = git@github.com:paulsschwarz/vagrant-cookbooks.git
[submodule "modules/database"]
	path = modules/database
	url = https://github.com/kohana/database.git
[submodule "modules/auth"]
	path = modules/auth
	url = https://github.com/kohana/auth.git
